.arrow-icon {
  font-size: 60px;
  height: 70px;
  width: 60px;
  color: white;
}

.exchange-box {
  height: 100%;
  text-align: center;
  align-content: center;
  vertical-align: middle;

}

button {
  transform: scale(1.5);
}

.country-flag {
  width: 20%
}

.currency-icon {
  color: white;
}
