<div class="exchange-box">
  <mat-grid-list cols="5">
    <mat-grid-tile >
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput type="number" #moneyStartingAmount>
        <span class="currency-icon" matTextSuffix>{{getCurrencySymbol(currencyFrom)}}&nbsp;</span>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>From</mat-label>
        <mat-select [(value)]="currencyFrom">
          @for (currency of currencies; track currency) {
          <mat-option [value]="currency.Code">
            <img class="country-flag" src="{{currency.Flag}}">
          {{currency.Code}} - {{currency.CountryName}} {{currency.Currency}}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-icon class="arrow-icon" fontIcon="arrow_forward"/>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>To</mat-label>
        <mat-select [(value)]="currencyTo">
          @for (currency of currencies; track currency) {
          <mat-option [value]="currency.Code">
            <img class="country-flag" src="{{currency.Flag}}">
          {{currency.Code}} - {{currency.CountryName}} {{currency.Currency}}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <button mat-raised-button color="primary" (click)="convertButtonClick(moneyStartingAmount.value)" >Convert</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

