<div class="top-box">
  <img class="logo" src="assets/logo.svg">
  <div class="title-box">
    <h1 class="title">Currency Converter</h1>
  </div>
</div>
<mat-grid-list cols="6" rowHeight="4:2">
  <mat-grid-tile  colspan="4" rowspan="2">
    <div class="middle-box">
      <app-exchange/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile  colspan="2" rowspan="6">
    <div class="side-box">
      <app-exchange-rate-current/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile  colspan="4" rowspan="2">
    <div class="middle-box">
      <app-exchange-details/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="2">
    <div class="middle-box">
      <app-exchange-rate-history/>
    </div>
  </mat-grid-tile>
</mat-grid-list>
